.grid{
    display: grid;
    grid-template-areas:
    "create login"
    "create captcha";
}


input{
    display: block;
}

.item1{
    grid-area:create;
}

.item2{
    grid-area:login;
}

.item3{
    grid-area: captcha;
    display:none;
}